/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/**
 * Style is derived from guidlines for "Material Design" from Google.
 * @see https://www.google.com/design/spec/material-design/introduction.html
 */

@font-face {
	font-family: 'RobotoDraft';
	font-style: normal;
	font-weight: 400;
	src: local('RobotoDraft'), local('RobotoDraft-Regular'), url(https://fonts.gstatic.com/s/robotodraft/v4/0xES5Sl_v6oyT7dAKuoni44P5ICox8Kq3LLUNMylGO4.woff2) format('woff2'), url(https://fonts.gstatic.com/s/robotodraft/v4/0xES5Sl_v6oyT7dAKuoni4bN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
	font-family: 'RobotoDraft';
	font-style: normal;
	font-weight: 500;
	src: local('RobotoDraft Medium'), local('RobotoDraft-Medium'), url(https://fonts.gstatic.com/s/robotodraft/v4/u0_CMoUf3y3-4Ss4ci-VwbBojE9J5UnpMtv5N3zfxwk.woff2) format('woff2'), url(https://fonts.gstatic.com/s/robotodraft/v4/u0_CMoUf3y3-4Ss4ci-VwSqHEX2q--o2so14pIEl08w.woff) format('woff');
}
@font-face {
	font-family: 'RobotoDraft';
	font-style: normal;
	font-weight: 700;
	src: local('RobotoDraft Bold'), local('RobotoDraft-Bold'), url(https://fonts.gstatic.com/s/robotodraft/v4/u0_CMoUf3y3-4Ss4ci-VwYlIZu-HDpmDIZMigmsroc4.woff2) format('woff2'), url(https://fonts.gstatic.com/s/robotodraft/v4/u0_CMoUf3y3-4Ss4ci-VwTqR_3kx9_hJXbbyU8S6IN0.woff) format('woff');
}
@font-face {
	font-family: 'RobotoDraft';
	font-style: italic;
	font-weight: 400;
	src: local('RobotoDraft Italic'), local('RobotoDraft-Italic'), url(https://fonts.gstatic.com/s/robotodraft/v4/er-TIW55l9KWsTS1x9bTfsu2Q0OS-KeTAWjgkS85mDg.woff2) format('woff2'), url(https://fonts.gstatic.com/s/robotodraft/v4/er-TIW55l9KWsTS1x9bTftkZXW4sYc4BjuAIFc1SXII.woff) format('woff');
}

/**
 * Global styles
 */
html, body {
	background-color: #FAFAFA;
	color: #212121;
	font-family: "RobotoDraft", "Roboto", sans-serif;
	font-size: 12pt;
	line-height: 12pt;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-rendering: optimizelegibility;
}
body { padding-bottom: 30px; }
b { font-weight: 700; }

/**
 * Header
 */
body > header {
	background-color: #3F51B5;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.26);
	height: 96px;
	padding: 15px 0px 0px 15px;
}
body > header h1 {
	background-image: url('icon-64.png');
	background-position: left center;
	background-repeat: no-repeat;
	color: #FFF;
	font-size: 38pt;
	font-weight: 400;
	line-height: 1.5;
	margin: 0px auto;
	overflow: hidden;
	padding-left: 76px;
	white-space: nowrap;
}

/**
 * Page contents
 */
div.content {
	background-color: #FAFAFA;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
div.content .pane {
	background-color: #FFFFFF;
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.26);
	display: none;
	margin: 50px auto 0px auto;
	padding: 90px 0 80px 0;
	min-width: 600px;
	width: 60%;
	z-index: 1;
}
div.content .pane h2 {
	color: rgba(0, 0, 0, 0.87);
	font-size: 28pt;
	line-height: 1.0;
	margin: 0 auto 30px auto;
	padding: 0 0 0 0;
	width: 80%;
	min-width: 400px;
}
div.content .pane h2 b {
	color: #F44336;
	text-transform: uppercase;
}
div.content .pane .description {
	color: rgba(0, 0, 0, 0.87);
	line-height: 1.0;
	margin: 0 auto 0 auto;
	min-width: 400px;
	padding: 24px 0 24px 0;
	width: 80%;
}
div.content .pane .description + p.description {
	padding-top: 0px;
}
div.content .pane .description-xl {
	font-size: 18pt;
	line-height: 1.3;
}
div.content .pane .description-sm {
	font-size: 12pt;
}
div.content .pane .button-bar {
	margin: 0 auto 0 auto;
	text-align: right;
	width: 80%;
}

/**
 * Progress bar
 */
.progress-bar {
	margin: 0 auto 0 auto;
	min-width: 400px;
	padding: 0 0 0 0;
	width: 80%;
}
.progress-bar label {
	color: rgba(0, 0, 0, 0.54);
	font-size: 10pt;
}
.progress-bar label span {
	float: right;
}
.progress-bar .bar {
	background-color: rgba(63, 81, 181, 0.26);
	height: 4px;
	margin: 4px 0px 4px 0px;
	overflow: hidden;
	width: 100%;
}
.progress-bar .bar .inner {
	background-color: #1A237E;
	height: 4px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 0px;
}

/**
 * Helper class that can be used when we don't know exact progress of the download.
 */
.progress-bar .bar .runningBar {
	animation: setProgressBarRunning 6s linear 1s infinite alternate;
	margin: 0 0 0 -20%;
	width: 20%;
}
@keyframes setProgressBarRunning { from { margin-left: -20%; } to { margin-left: 100%; } }

/**
 * Helper classes for showing/hidding elements with CSS animations.
 */
.hide {
	animation-name: hideAnim;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	opacity: 0;
}
@keyframes hideAnim { from { opacity: 1; } to { opacity: 0; } }
.show {
	animation-name: showAnim;
	animation-duration: 1s;
	animation-timing-function: ease-in;
	opacity: 1;
}
@keyframes showAnim { from { opacity: 0; } to { opacity: 1; } }

/**
 * Buttons
 */
button {
	background-color: transparent;
	border: 0px none;
	color: #3F51B5;
	cursor: pointer;
	font-size: 18pt;
	padding: 0 0 0 0 !important;
	text-transform: uppercase;
}
button:hover { text-decoration: underline; }
button.disabled { color: rgba(63, 81, 181, 0.26); }
button:hover.disabled { cursor: pointer; text-decoration: none; }
